In [1]:
import pandas as pd

In [3]:
df12 = pd.read_csv('Datasets/01_02.csv')
df4 = pd.read_csv('Datasets/04_suicideTweetData_es.csv')
df6 = pd.read_csv('Datasets/06_data_es.csv')
df7 = pd.read_csv('Datasets/07_submissions-clean_es.csv')
df8 = pd.read_csv('Datasets/08_twitter-suicidal_data_10000_es.csv')
df9 = pd.read_csv('Datasets/09_Suicide_Ideation_Dataset(Twitter-based)_es.csv')

In [5]:
df12.drop_duplicates(subset=['Text'],keep=False,inplace=True)

In [12]:
df4.drop(['Unnamed: 0'],axis=1,inplace=True)

In [13]:
dfCombined = pd.concat([df12,df4,df6,df7,df8,df9])

In [15]:
dfCombined.drop_duplicates(subset=['Text'],keep=False,inplace=True)

In [16]:
dfCombined

                                                   Text  Label
0     Pablo Picasso es un artista famoso de principi...      0
1     Las mujeres son extrañas, sé lo que quieres de...      0
2     import datetime\ncadenaFechaHora = "20/08/2020...      0
3                                          Coursera.org      0
4     Dime quién fue la primera celebridad en ganar ...      0
...                                                 ...    ...
1764              He olvidado cuánto amo mi Nokia N95-1      0
1765  ¡Empezando mi día con una actitud positiva! ¡S...      0
1766  @belledame222 Oye, son las 5 de la mañana... d...      0
1767  Dos mejores amigas borrachas entran a mi habit...      0
1768  @dancingbonita "¡¡¡Te amo muchísimo!!!" -Ron B...      0

[62630 rows x 2 columns]

In [17]:
df4

                                                    Text  Label
0      Siempre me hizo sentir inútil pero de repente ...      1
1           mi vida apesta solo quiero rendirme y llorar      1
2      raza de macho de queensland que ya debería hab...      1
3      Más cerca de suicidarme todos los días famsqua...      1
4      Sabes, cuando la vida te golpea fuerte y te de...      1
...                                                  ...    ...
46889  Prakash fue descubierto por la policía el domi...      1
46890  ¡Hola gente quiere ver un truco de magia y ver...      1
46891  cómo duermo sabiendo que ya no tendré que dibu...      1
46892  Sólo quiero que seas feliz si me voy de este m...      1
46893  El punto era que afecta la vida familiar; vivi...      1

[46894 rows x 2 columns]