In [1]:
from googletrans import Translator
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv('Datasets/06_data.csv')

In [3]:
df.loc[:,'label'] = df['label'].apply(lambda x : 1 if x=='__label__suicidal' else 0)

In [4]:
df.rename(columns={"text":"Text","label":"Label"},inplace=True)

In [5]:
df

     Label                                               Text
0        1  my life is meaningless i just want to end my l...
1        1  muttering i wanna die to myself daily for a fe...
2        1  work slave i really feel like my only purpose ...
3        1  i did something on the 2 of october i overdose...
4        1  i feel like no one cares i just want to die ma...
...    ...                                                ...
7117     0  rented marley and me if you watch it be prepar...
7118     0    another night all alone and it s really spooky
7119     0                                    you okay laura
7120     0  goodnight twitterlandtime for me to go to drea...
7121     0                  going to bed work in the morning

[7122 rows x 2 columns]

In [6]:
df.drop_duplicates(subset=['Text'],keep=False,inplace=True)

In [7]:
res = []
translator = Translator()
for x in tqdm(df.iloc[:,1]):
    res.append(translator.translate(x,dest="es").text)

100%|██████████| 7084/7084 [14:41<00:00,  8.04it/s]

In [8]:
df['Text']=res

In [9]:
df[df.Label==1]['Text'].values[4]

'Siento que a nadie le importa sólo quiero morir tal vez entonces me sentiría menos solo'

In [11]:
df.to_csv('Datasets/06_data_es.csv',index=None)