In [1]:
from googletrans import Translator
import pandas as pd
from tqdm import tqdm
import numpy as np
from tqdm.contrib.concurrent import process_map

In [2]:
df = pd.read_csv('Datasets/09_Suicide_Ideation_Dataset(Twitter-based).csv')

In [3]:
df

,Tweet,Suicide
0,making some lunch,Not Suicide post
1,@Alexia You want his money.,Not Suicide post
2,@dizzyhrvy that crap took me forever to put to...,Potential Suicide post
3,@jnaylor #kiwitweets Hey Jer! Since when did y...,Not Suicide post
4,Trying out &quot;Delicious Library 2&quot; wit...,Not Suicide post
...,...,...
1782,i have forgotten how much i love my Nokia N95-1,Not Suicide post
1783,Starting my day out with a positive attitude! ...,Not Suicide post
1784,"@belledame222 Hey, it's 5 am...give a girl som...",Not Suicide post
1785,2 drunken besties stumble into my room and we ...,Not Suicide post
1786,@dancingbonita &quot;I friggin love you!!!&quo...,Not Suicide post

In [4]:
df.rename(columns={"Tweet":"Text",'Suicide':'Label'},inplace=True)

In [5]:
df.loc[:,'Label']=df['Label'].apply(lambda x : 0 if x=='Not Suicide post' else 1)

In [6]:
df

                                                   Text Label
0                                     making some lunch     0
1                           @Alexia You want his money.     0
2     @dizzyhrvy that crap took me forever to put to...     1
3     @jnaylor #kiwitweets Hey Jer! Since when did y...     0
4     Trying out &quot;Delicious Library 2&quot; wit...     0
...                                                 ...   ...
1782    i have forgotten how much i love my Nokia N95-1     0
1783  Starting my day out with a positive attitude! ...     0
1784  @belledame222 Hey, it's 5 am...give a girl som...     0
1785  2 drunken besties stumble into my room and we ...     0
1786  @dancingbonita &quot;I friggin love you!!!&quo...     0

[1787 rows x 2 columns]

In [7]:
df.drop_duplicates(subset=['Text'],keep=False,inplace=True)

In [8]:
df

                                                   Text Label
0                                     making some lunch     0
1                           @Alexia You want his money.     0
2     @dizzyhrvy that crap took me forever to put to...     1
3     @jnaylor #kiwitweets Hey Jer! Since when did y...     0
4     Trying out &quot;Delicious Library 2&quot; wit...     0
...                                                 ...   ...
1782    i have forgotten how much i love my Nokia N95-1     0
1783  Starting my day out with a positive attitude! ...     0
1784  @belledame222 Hey, it's 5 am...give a girl som...     0
1785  2 drunken besties stumble into my room and we ...     0
1786  @dancingbonita &quot;I friggin love you!!!&quo...     0

[1769 rows x 2 columns]

In [9]:
translator = Translator()

In [10]:
def traduce(x): return translator.translate(x,dest="es").text

In [11]:
res = process_map(traduce,df['Text'],max_workers=8)

/tmp/ipykernel_2736736/3052668504.py:1: TqdmWarning: Iterable length 1769 > 1000 but `chunksize` is not set. This may seriously degrade multiprocess performance. Set `chunksize=1` or more.
  res = process_map(traduce,df['Text'],max_workers=8)

  0%|          | 0/1769 [00:00<?, ?it/s]

In [12]:
df['Text']=res

In [20]:
df[df.Label==1]['Text'].values[6]

'Estoy en el punto del semestre en el que estoy tan cansado de todo. Sólo quiero darme la vuelta y morir.'

In [21]:
df.to_csv('Datasets/09_Suicide_Ideation_Dataset(Twitter-based)_es.csv',index=None)