In [1]:
from googletrans import Translator
import pandas as pd
from tqdm import tqdm
import numpy as np
from tqdm.contrib.concurrent import process_map

In [2]:
df = pd.read_csv('Datasets/08_twitter-suicidal_data_10000.csv')

In [3]:
df

                                                  tweet  intention
0     my life is meaningless i just want to end my l...          1
1     muttering i wanna die to myself daily for a fe...          1
2     work slave i really feel like my only purpose ...          1
3     i did something on the 2 of october i overdose...          1
4     i feel like no one cares i just want to die ma...          1
...                                                 ...        ...
9114  have you ever laid on your bed at night and cr...          1
9115  the fault the blame the pain s still there i m...          1
9116  stop asking me to trust you when i m still cou...          1
9117  i never know how to handle sadness crying make...          1
9118  when cancer takes a life we blame cancer depre...          1

[9119 rows x 2 columns]

In [4]:
df.rename(columns={"tweet":"Text",'intention':'Label'},inplace=True)

In [5]:
df

                                                   Text  Label
0     my life is meaningless i just want to end my l...      1
1     muttering i wanna die to myself daily for a fe...      1
2     work slave i really feel like my only purpose ...      1
3     i did something on the 2 of october i overdose...      1
4     i feel like no one cares i just want to die ma...      1
...                                                 ...    ...
9114  have you ever laid on your bed at night and cr...      1
9115  the fault the blame the pain s still there i m...      1
9116  stop asking me to trust you when i m still cou...      1
9117  i never know how to handle sadness crying make...      1
9118  when cancer takes a life we blame cancer depre...      1

[9119 rows x 2 columns]

In [6]:
df.drop_duplicates(subset=['Text'],keep=False,inplace=True)

In [7]:
df

                                                   Text  Label
0     my life is meaningless i just want to end my l...      1
1     muttering i wanna die to myself daily for a fe...      1
2     work slave i really feel like my only purpose ...      1
3     i did something on the 2 of october i overdose...      1
4     i feel like no one cares i just want to die ma...      1
...                                                 ...    ...
9114  have you ever laid on your bed at night and cr...      1
9115  the fault the blame the pain s still there i m...      1
9116  stop asking me to trust you when i m still cou...      1
9117  i never know how to handle sadness crying make...      1
9118  when cancer takes a life we blame cancer depre...      1

[8744 rows x 2 columns]

In [10]:
translator = Translator()

In [11]:
def traduce(x): return translator.translate(x,dest="es").text

In [12]:
res = process_map(traduce,df['Text'],max_workers=8)

/tmp/ipykernel_2736052/3052668504.py:1: TqdmWarning: Iterable length 8744 > 1000 but `chunksize` is not set. This may seriously degrade multiprocess performance. Set `chunksize=1` or more.
  res = process_map(traduce,df['Text'],max_workers=8)

  0%|          | 0/8744 [00:00<?, ?it/s]

In [13]:
df['Text']=res

In [15]:
df[df.Label==1]['Text'].values[0]

'Mi vida no tiene sentido. Solo quiero terminar con mi vida. Mi vida está completamente vacía y no quiero tener que crearle significado. Crear significado es dolor. ¿Cuánto tiempo voy a contener la necesidad de hacer correr mi auto de cabeza hacia el siguiente? persona que viene en sentido contrario ¿cuándo dejaré de sentir celos de personajes trágicos como gomer pile por el rápido final que pudieron traer a sus vidas?'

In [16]:
df.to_csv('Datasets/08_twitter-suicidal_data_10000_es.csv',index=None)