In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv('Datasets/01_suicide_comments_es.csv')

In [7]:
df1

                                                    Text  Label
0      Pablo Picasso es un artista famoso de principi...      0
1      Las mujeres son extrañas, sé lo que quieres de...      0
2      import datetime\ncadenaFechaHora = "20/08/2020...      0
3                                           Coursera.org      0
4      Dime quién fue la primera celebridad en ganar ...      0
...                                                  ...    ...
10045  Escriba un código en Python que genere una cad...      0
10046  Genera un título de un libro relacionado con e...      0
10047  Escriba un titular para un artículo de noticia...      0
10048  Mi restaurante favorito es uno que sirve comid...      0
10049  Crea una ecuación matemática que represente la...      0

[10050 rows x 2 columns]

In [8]:
df2 = pd.read_csv('Datasets/02_suicidio_notacion.csv')

In [9]:
df2 = df2.drop('frase',axis=1)

In [10]:
df2.rename(columns={"tweet_clean":"Text","suicidio":"Label"},inplace=True)

In [11]:
df_1_2 = pd.concat([df1,df2])

In [ ]:
df_1_2.to_csv()